.contact-form {
  margin: 10px 0 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
}

.contact-form
.contact-details-input {
  width: 100%;
}

.contact-form
.submit-button {
  padding: 15px 0;
  width: 100%;
}
