.app-header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.app-header
.app-title {
  font-size: 40px;
  margin: 0;
}

.app-logo {
  margin-right: 20px;
}

.app-logo
.app-icon-container {
  color: #fff;
}

.app-logo
.app-icon {
  width: 45px;
  height: 45px;
}
