.contact-card-container {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

.contact-card-title {
  margin: 0;
  color: #797979;
}

.contact-card {
  margin: 15px auto;
  max-width: 330px;
}

.icon-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
}

.icon-container
.icon {
  height: 70px;
  width: 70px;
  color: #fff;
}

.contact-card-details {
  color: #282c34;
  text-align: left;
  padding: 0 15px;
  word-break: break-word;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
