.contacts-list-container
.contacts-list {
  padding: 0;
}

.contacts-list
.contacts-list-item {
  background-color: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.contacts-list
.contacts-list-item:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.contact-link {
  text-decoration: none;
}

.contact-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-details {
  color: #282c34;
  margin-right: 15px;
  word-break: break-word;
  flex-basis: 50%;
}

.contact-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
